<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a
        href="#"
        class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
      </a>
      <!-- Projects -->
      <a
        href="#"
        class="list-group-item list-group-item-action py-2 ripple active"
      >
        <i class="fas fa-columns fa-fw me-3"></i><span>Projects</span>
        <ul class="dropdown">
          <li><a class="nav-link" href="#">List</a></li>
          <li><a class="nav-link" href="#">New Project</a></li>
        </ul>
      </a>
      <!-- Companies -->
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-th fa-fw me-3"></i><span>Companies</span>
        <ul class="dropdown">
          <li><a href="#">List</a></li>
          <li><a href="#">New Company</a></li>
        </ul></a
      >
      <!-- Members -->
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fa fa-industry fa-fw me-3"></i><span>Members</span></a
      >
      <!-- Users -->
      <a href="#" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fa fa-users fa-fw me-3"></i><span>Users</span>
      </a>
      <!-- Reports -->
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="far fa-file-alt fa-fw me-3"></i><span>Reports</span>
        <ul class="dropdown">
          <li><a href="#">List</a></li>
          <li><a href="#">New</a></li>
        </ul></a
      >
      <!-- Profile -->
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="far fa-user fa-fw me-3"></i><span>Edit Profile</span></a
      >
      <!-- Log out -->
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"
        ><i class="fas fa-power-off fa-fw me-3"></i><span>Log Out</span></a
      >
    </div>
  </div>
</nav>
