<a
  href="#"
  class="list-group-item list-group-item-action active"
  aria-current="true"
>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ project.projectTitle }}</h5>
    <!-- <div> -->
    <!-- <button class="btn btn-primary">Light</button>
      <button class="btn btn-primary">Dark</button> -->
    <!-- </div> -->
    <!-- <small>3 days ago</small> -->
  </div>
  <!-- the image will be displayed with some link -->
  <!-- only now it has a dummy link  -->
  <p class="mb-1">{{ project.projectBackgroundImage }}</p>
  <!-- the log file as well as the unit should be used to print out the output image after drawing a path -->
  <!-- <p class="mb-1">{{ project.logFile }}</p>
  <p class="mb-1">{{ project.unit }}</p> -->
</a>
