<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="projectName">Project Title</label>
    <input
      type="text"
      id="projectName"
      name="projectName"
      class="form-control"
      ngModel
      required
      #nameCtrl="ngModel"
    />
    <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched"
      >This field is required</span
    >
  </div>
  <br />
  <div class="form-group">
    <label for="img">Project's Background Image:</label>
    <input
      type="file"
      id="img"
      name="img"
      accept="image/png, image/jpeg"
      class="form-control"
      ngModel
      required
      #imgCtrl="ngModel"
    />
    <span class="help-block" *ngIf="imgCtrl.invalid && imgCtrl.touched"
      >This field is required</span
    >
  </div>
  <br />
  <div class="form-group"></div>
  <div>
    <label for="data">Log File:</label>
    <input
      type="file"
      id="data"
      name="data"
      accept=".csv, .txt"
      class="form-control"
      ngModel
      required
      #dataCtrl="ngModel"
    />
    <span class="help-block" *ngIf="dataCtrl.invalid && dataCtrl.touched"
      >This field is required</span
    >
  </div>
  <br />
  <div>
    <label for="Unit">Unit (in square meters):</label>
    <input
      (keypress)="numberOnly($event)"
      type="text"
      id="Unit"
      name="Unit"
      class="form-control"
      ngModel
      required
      #unitCtrl="ngModel"
    />
    <span class="help-block" *ngIf="unitCtrl.invalid && unitCtrl.touched"
      >This field is required</span
    >
  </div>
  <br />
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
    Create Project
  </button>
</form>
